<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}" />

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target  name="fatal_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\fatal\${shortdate}\fatal.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target  name="error_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\error\${shortdate}\error.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target  name="warn_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\warn\${shortdate}\warn.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target  name="info_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\info\${shortdate}\info.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target  name="debug_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\debug\${shortdate}\debug.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target  name="trace_file" xsi:type="File" maxArchiveFiles="30"
             fileName="${basedir}\App_Log\trace\${shortdate}\trace.txt"
             layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
    <logger name="*" level="Fatal" writeTo="fatal_file" />
    <logger name="*" level="Error" writeTo="error_file" />
    <logger name="*" level="Warn" writeTo="warn_file" />
    <logger name="*" level="Info" writeTo="info_file" />
    <logger name="*" level="Debug" writeTo="debug_file" />
    <logger name="*" level="Trace" writeTo="trace_file" />
  </rules>
</nlog>